doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Food Munch
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top
      .container
        a.navbar-brand(href="#")
          img.fly-buy-logo(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-website-logo-img.png")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavAltMarkup
          .navbar-nav.ml-auto
            a.nav-link.active#navItem1(href="#wcuSection")
              | 
              span.sr-only(current)
            a.nav-link#navItem2(href="#service")
              | Service
            a.nav-link#navItem3(href="#products")
              | Products
            a.nav-link#navItem4(href="#exploreDeals")
              | Explore Deals & Offers
            a.nav-link#navItem5(href="#followUsSection")
              | Follow Us Section

    .banner-section-bg-container
      .text-center
        h1.banner-heading.pt-5 Welcome To Fly Buy
    .wcu-section.pt-5.pb-5#service
      .container
        .row
          .col-12
            h1.wcu-section-heading.pt-4 Our Services
            p.wcu-section-description
              | Most online stores offer lower prices. Online shopping makes price comparison simpler and quicker.
              | It is very convenient to shop from where you are located. It saves you the cost of driving to stores,
              | as well as parking fees.
          .col-12.col-md-4
            .wcu-card.p-3.mb-3
              img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-services-delivery-img.png")
              h1.wcu-card-title.mt-3 Fast and Free Delivery
              p.wcu-card-description
                | Fast, free, and convenient delivery choices on millions of items.
          .col-12.col-md-4
            .wcu-card.p-3.mb-3
              img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-services-money-back-img.png")
              h1.wcu-card-title.mt-3 100% Money back guarantee
              p.wcu-card-description
                | This is probably the most popular guarantee in the world.
          .col-12.col-md-4
            .wcu-card.p-3.mb-3
              img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-services-24-by-7-support-img.png")
              h1.wcu-card-title.mt-3 Online Support 24/7
              p.wcu-card-description
                | Our Online Support will provide you with many useful functions, valuable information, tips.
    .explore-menu-section.pt-5.pb-5#products
      .container
        .row
          .col-12
            h1.menu-section-heading.pt-4 Our Products
          .col-12.col-md-6
            .shadow.menu-item-card.p-3.mb-3
              .menu-item-image1.d-flex.flex-column.justify-content-end.p-3
                h1.menu-card-title Smart Headphones
                p.banner-caption Headphones with Deep Bass, sound, touch...
                button.custom-outline-button View All
          .col-12.col-md-6
            .shadow.menu-item-card.p-3.mb-3
              .menu-item-image2.d-flex.flex-column.justify-content-end.p-3
                h1.menu-card-title Laptops
                p.banner-caption Explore vast selection of Laptops..
                button.custom-outline-button View All
    .delivery-and-payment-section.pt-5.pb-5#deliveryPaymentSection
      .container
        .row
          .col-12
            .offers-section.text-center
              .text-center
                img.delivery-and-payment-section-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-offers-special-img.png")
    .wcu-section.pt-5.pb-5#exploreDeals
      .container
        .row
          .col-12
            h1.wcu-section-heading.text-left.pt-4 Explore Deals & Offers?
          .col-12.col-md-6.wcu-card
            h1.wcu-section-heading.pt-3 Up to 80% off | Electronics & Gadgets
            .d-flex.flex-column.justify-content-center
              .d-flex.flex-row.justify-content-center
                .p-3.mb-3
                  img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-explore-mamba-watch-img.png")
                  h1.wcu-card-title.mt-3 Smart Watch
                .p-3.mb-3
                  img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-explore-camera-img.png")
                  h1.wcu-card-title.mt-3 Cameras
              .d-flex.flex-row.justify-content-center
                .p-3
                  img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-explore-sport-and-fitness-img.png")
                  h1.wcu-card-title.mt-3 Sports & Fitness
                .p-3
                  img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-explore-ear-phones-pink-img.png")
                  h1.wcu-card-title.mt-3 EarPhones
              a.menu-item-link(href="")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", class="bi bi-arrow-right", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.wcu-card
            h1.wcu-section-heading.pt-3 Festive Offers TVs & appliances
            .p-3.d-flex.flex-column.justify-content-center.align-items-center
              img.wcu-card-image1(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-explore-tv-img.png")
              a.menu-item-link(href="")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", class="bi bi-arrow-right", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
    .follow-us-section.pt-5.pb-5#followUsSection
      .container
        .row
          .col-12
            h1.follow-us-section-heading.pt4 Follow Us
          .col-12
            .d-flex.flex-row.justify-content-center
              .follow-us-icon-container
                i.fab.fa-twitter.icon
              .follow-us-icon-container
                i.fab.fa-instagram.icon
              .follow-us-icon-container
                i.fab.fa-facebook.icon

    .footer-section.pt-5.pb-5
      .container
        .row
          .col-12.text-center
            img.fly-buy-logo(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-website-logo-img.png")
            h1.footer-section-mail-id orderproducts@flybuy.com
            p.footer-section-address 123 Aunrag University, Hyderabad, India.

    
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js", integrity="sha384-Pzjw5fPlHPwb8Hl+zFk5bFoJy4N7bcp6h3/JBTVqUstjkgpzz/AvZ4FStZ5B5X2k", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-pzjw5fPlHPwb8Hl+zFk5bFoJy4N7bcp6h3/JBTVqUstjkgpzz/AvZ4FStZ5B5X2k", crossorigin="anonymous")
  
        footer 
          .row 
            .col-lg-12
              p &copy; Fly Buy 2023


    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')



   

            footer

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')